.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}
.recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomers table {
    border-spacing: 0px;
}
.recentCustomers table tr td {
    padding: 9px 10px;
}
.recentCustomers table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}
.recentCustomers table tr:hover {
    background-color: var(--blue);
    color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
    color: var(--black2);
}