.wrapper {
    padding: 4.5rem 0 2rem;
}
.title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}
.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    padding-top: 1rem;
}
.container
:global(.swiper-slide){
    width: auto;
}

@media screen and (min-width: 767px){
    .wrapper{
        padding: 7rem 0 2rem;
    }
}
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        padding: 5rem 0 3rem;
    }
    .title {
        font-size: var(--h1-font-size);
        margin-bottom: 3rem;
    }
}