.wrapper{
    padding: 4.5rem 0 2rem;
}
.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}
.description{
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.newsletterForm{
    background: var(--container-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: .75rem;
}

.newsletterInput{
    width: 70%;
    padding: 0 .5rem;
    background: none;
    color: var(--title-color);
}

.newsletterInput::placeholder{
    color: var(--text-color);
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-alt);
}
@media screen and (min-width: 576px){
    .container{
        display: grid;
        grid-template-columns: .7fr;
        justify-content: center;
    }
    .description{
        padding: 0 3rem;
    }
}
@media screen and (min-width: 767px){
    .container{
        grid-template-columns: .5fr;
    }
    .wrapper{
        padding: 7rem 0 2rem;
    }
}
@media screen and (min-width: 992px){
    .title {
        font-size: var(--h1-font-size);
        margin-bottom: 3rem;
    }
    .container{
        margin: auto;
    }
}
@media screen and (min-width: 1200px){
    .container{
        margin: auto;
    }
}