.wrapper {
    background: black;
    display: flex;
    justify-content: space-between;
    min-width: 650px;
}
.head {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 506px;
    min-width: 30%;
    color: white;
    padding-bottom: 20px ;
    padding-top: 20px;
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
}
.head > a {
    text-decoration: none;
    margin-right: 5px;
}
.head > a:visited {
    color: white;
}
.head > a:hover {
    color: aqua;
}
.head > a:active {
    color: aqua;
}
.login button {
    background: black;
    padding-bottom: 17px ;
    padding-top: 17px;
    padding-right: 17px;
    border: none;
}
.login a {
    padding-bottom: 17px ;
    padding-top: 17px;
    padding-right: 17px;
    text-decoration: none;
}
.login span:hover {
    color: aqua;
}
.login span {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.sidebar {
    width: 106px;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
}