@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
.container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.sidebar {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
    top: -700vh;
}
.sidebar > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.sidebar h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}
.sidebar1 {
    background: linear-gradient(131deg, #63256b -26%, #286cb5 145%);
}
.sidebar2 {
    background: linear-gradient(122deg, #3485bf -1%, #e33298 124%);
}
.sidebar3 {
    background: linear-gradient(221.87deg, #0051be 1%, #813ea6 128%);
}
.sidebar4 {
    background: linear-gradient(251deg, #533c36 -8%, #028e65 250%);
}
.sidebar5 {
    background: linear-gradient(124deg, #2c6fee -20%, #f3bcde 145%);
}
.sidebar6 {
    background: linear-gradient(26deg, #3d1b10 -1%, #664d1f 124%);
}
.sidebar7 {
    background: linear-gradient(221.87deg, #0592bd 1%, #b3c1d8 128%);
}
.sidebar8 {
    background: linear-gradient(253deg, #e1b199 -8%, #6d3429 250%);
}
.mainSlide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.mainSlide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.controls button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

.controls button:hover {
    color: #222;
}

.controls button:focus {
    outline: none;
}
.container .controls button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}
.container .controls .downButton {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.container .controls .upButton {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.slide1 {
    background-image: url('https://static.locals.md/2020/11/7402d262-1183-44eb-bc9e-1cbea50c946a.jpg')
}
.slide2 {
    background-image: url('https://www.rabstol.net/uploads/gallery/main/312/rabstol_net_guardians_of_the_galaxy_03.jpg')
}
.slide3 {
    background-image: url('https://i.pinimg.com/originals/90/7d/2f/907d2f6258d44c4b5b0e3b309db43d48.jpg')
}
.slide4 {
    background-image: url('https://storge.pic2.me/upload/617/5cee6aed03faa.jpg')
}
.slide5 {
    background-image: url("https://marveldom.ru/wp-content/uploads/2020/02/rocket-raccoon-wallpapers-hd-68276-7717349.jpg");
}
.slide6 {
    background-image: url("https://99px.ru/sstorage/53/2018/01/tmb_217902_408369.jpg");
}
.slide7 {
    background-image: url("https://storge.pic2.me/upload/384/598ab90b013b3.jpg");
}
.slide8 {
    background-image: url("https://lifestyle.24tv.ua/resources/photos/news/1200x675_DIR/201811/1062308.jpg ");
}