
.content{
    position: relative;
    background: var(--container-color);
    border-radius: 1rem;
    padding: 1.5rem 0 1rem 0;
    text-align: center;
    overflow: hidden;
}

.img{
    width: 90px;
    transition: .3s;
}

.subtitle,
.price{
    display: block;
}

.subtitle{
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-5);
}

.title,
.price{
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
}

.button{
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    right: -3rem;
    bottom: 0;
    font-weight: var(--font-medium);
    transition: .3s;
    color: var(--title-color);
    background-color: var(--first-color);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.icon{
    font-size: 1.25rem;
    color: var(--title-color);
}

.content:hover .img{
    transform: translateY(-.5rem);
}

.content:hover .button{
    right: 0;
}
@media screen and (min-width: 992px) {
    .content{
        border-radius: 1.5rem;
    }
    .img{
        width: 110px;
    }
    .title{
        font-size: var(--h3-font-size);
    }
}