* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  flex-wrap: wrap;

}

.square {
  width: 16px;
  height: 16px;
  background: #3498db;
  margin: 2px;
  box-shadow: 0 0 2px rgb(0, 0, 0);
  transition: 3s ease;
}

.square:hover {
  transition-duration: 0s;
}