.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background: var(--container-color);
    width: 50%;
    padding: 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 11px 0px #00000075;
    z-index: 12;
}
.crossIcon {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.icon {
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: center;
}
.container {
    display: grid;
    text-align: center;
}
.title {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: .5rem .75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
    cursor: pointer;
}

.button:hover{
    background-color: var(--first-color-alt);
}
@media screen and (max-width: 992px){
    .wrapper{
        width: 70%;
    }
    .crossIcon {
        width: 44%;
    }
    .title {
        width: 56%;
    }
}
@media screen and (max-width: 767px){
    .wrapper{
        width: 70%;
    }
    .crossIcon {
        width: 42%;
    }
    .title {
        width: 58%;
    }
}@media screen and (max-width: 420px){
    .wrapper{
        width: 100%;
    }
    .crossIcon {
        width: 39%;
    }
    .title {
        width: 61%;
    }
}