.about {
    padding: 4.5rem 0 2rem;
}
.title {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.container{
    row-gap: 2rem;
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    display: grid;
}

.data{
    text-align: center;
}

.description{
    margin-bottom: var(--mb-2);
}

.img{
    width: 200px;
    justify-self: center;
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-alt);
}
@media screen and (min-width: 576px){
    .container{
        grid-template-columns: .8fr;
        justify-content: center;
    }
}
@media screen and (min-width: 767px){
    .title,
    .data{
        text-align: initial;
    }
    .img{
        width: 250px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        column-gap: 7rem;
        display: flex;
    }
    .title {
        font-size: var(--h1-font-size);
        margin-bottom: 3rem;
    }
    .img{
        width: 350px;
    }
    .description{
        padding-right: 2rem;
    }
    .about {
        padding: 11.5rem 0 4.5rem;
    }
}
