.pageHeader {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}
.pageHeader h2 {
    position: relative;
    z-index: 99;
    color: white;
}

/*.pageHeader::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100px;*/

/*}*/