.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.card {
    position: relative;
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
}
.cardName {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}
.iconBx {
    font-size: 3.5rem;
    color: var(--black2);
}
.card:hover {
    background-color: var(--blue);
}
.card:hover .numbers,
.card:hover .cardName,
.card:hover .iconBx {
    color: var(--white);
}
@media (max-width: 991px) {
    .cardBox {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1,1fr);
    }
}