.recentOrders {
    position: relative;
    display: grid;
    min-height: 500px;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}
.btn {
    position: relative;
    padding: 5px 10px;
    background-color: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td {
    font-weight: 600;

}
.recentOrders table {
    border-spacing: 0px;
}
.recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.recentOrders table tbody tr:hover {
    background-color: var(--blue);
    color: var(--white);
}
.recentOrders table tr td {
    padding: 10px;
}
.recentOrders table tr td:last-child {
    text-align: end;
}
.recentOrders table tr td:nth-child(2) {
    text-align: end;
}
.recentOrders table tr td:nth-child(3) {
    text-align: center;
}
.statusDelivered {
    padding: 2px 4px;
    background-color: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.statusPending {
    padding: 2px 4px;
    background-color: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.statusReturn {
    padding: 2px 4px;
    background-color: #ff0000;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.statusProgress {
    padding: 2px 4px;
    background-color: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
@media (max-width: 768px) {
    .recentOrders {
        overflow-x: auto;
    }
    .statusProgress {
        white-space: nowrap;
    }
}
@media (max-width: 480px) {
    .cardHeader h2 {
        font-size: 20px;
    }
}