.wrapper {
    position: relative;
    display: flex;
    margin: auto;
    font-size: 20px;
    justify-content: space-between;
    width: 90%;
    z-index: 1;
}
.container {
    display: flex;
}
.container button {
    background: var(--container-color);
    color: white;
}
.img {
    height: 30px;
}
.icon {
    margin-left: 2rem;
    align-content: center;
    cursor: pointer;
}
.icon svg {
    height: 10px;
    margin-bottom: 2px;
}