.wrapper {
    padding: 4.5rem 0 2rem;
}
.title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}
.container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 1rem;
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    display: grid;
}
@media screen and (max-width: 320px){
    .container{
        grid-template-columns: .8fr;
        justify-content: center;
    }
}
@media screen and (min-width: 767px){
    .container{
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
        gap: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .wrapper{
        padding: 6.5rem 0 2rem;
    }
    .container {
        padding-top: 0 ;
        margin-left: auto;
        margin-right: auto;
        gap: 3.5rem;
    }
    .title {
        font-size: var(--h1-font-size);
        margin-bottom: 3rem;
    }
}