.back {
    position: absolute;
    background-image: url("https://img4.goodfon.ru/original/1920x1080/9/b6/strazhi-galaktiki-grut-groot-marvel-marvel-baby-groot-guardi.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    height: 93%;
    width: 100%;
}
.play {
    position: absolute;
    left: 80px;
    top: 60px;
}