.wrapper {
    background-color: #100e19;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headLogo {
    position: relative;
    display: flex;
    height: 72px;
    width: 66px;
}
.headLogo img {
    width: 66px;
}
.head {
    position: absolute;
    margin-left: 104px;
}
.head a {
    font-size: 15px;
    margin-right: 10px;
    color: white;
    font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
}
.rightHead {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sub {
    justify-content: flex-end;
    box-sizing: border-box;
    position: relative;
    margin-right: 20px;
}
.btnSub {
    background-color: #ea003d;
    font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
    color: white;
    width: 132px;
    height: 32px;
    border-radius: 5px;
    border-color: #ea003d;
    border: none;
    cursor: pointer;
}
.searchIcon {
    position: relative;
    align-items: center;
    font-size: 20px;
    color: white;
}
.search {
    background-color: #100e19;
    color: white;
    border: none;
    font-size: 15px;
    font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
}
.bell {
    position: relative;
    align-items: center;
    font-size: 20px;
    color: white;
}
.avatar {
    position: relative;
    display: flex;
    width: 48px;
    height: 48px;
}
.avatar button {
    background-color: greenyellow;
    color: white;
    border: none;
    width: 100%;
    font-size: 20px;
}