button {
    cursor: pointer;
}

.btn {
    border: 4px solid transparent;
    background-color: #ff0000;
    color: #fff;
    border-radius: 30px;
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0px 0px 7px 8px #ff00004d;
    transition: box-shadow .3s ease;
    position: relative;
}

.btn:hover {
    box-shadow: 0px 0px 7px 15px #ff00004d;;
}

.btnOutline {
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    box-shadow: unset;
    transition: color .3s ease, background-color .3s ease;
}

.btnOutline:hover {
    box-shadow: unset;
    color: #ff0000;
    background-color: #fff;

}

.btn small {
    border-width: 2px;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
}
