.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}
@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1,1fr);
    }
}