.footer{
    position: relative;
    overflow: hidden;
    padding: 4.5rem 0 2rem;
}
.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    display: grid;
    row-gap: 2rem;
}


.logo{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.logoImg{
    width: 20px;
}

.description{
    margin-bottom: var(--mb-2-5);
}

.social{
    display: flex;
    column-gap: .75rem;
}

.socialLink{
    display: inline-flex;
    background: var(--container-color);
    padding: .25rem;
    border-radius: .25rem;
    color: var(--title-color);
    font-size: 1rem;
}

.socialLink:hover{
    background: var(--body-color);
}
.copy{
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 4.5rem;
}
.imgOne,
.imgTwo{
    position: absolute;
    transition: .3s;
}

.imgOne{
    width: 100px;
    top: 6rem;
    right: -2rem;
}

.imgTwo{
    width: 150px;
    bottom: 4rem;
    right: 4rem;
}

.imgOne:hover,
.imgTwo:hover{
    transform: translateY(-.5rem);
}
@media screen and (min-width: 767px){
    .container{
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        column-gap: 1rem;
    }
    .imgTwo{
        right: initial;
        bottom: 0;
        left: 15%;
    }
    .footer{
        padding: 7rem 0 2rem;
    }
}
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .footer__copy{
        margin-top: 6rem;
    }
}
@media screen and (min-width: 1200px){
    .imgOne{
        width: 120px;
    }
    .imgTwo{
        width: 180px;
        top: 30%;
        left: -3%;
    }
}