.wrapper{
    position: fixed;
    background: var(--first-color);
    right: 1rem;
    top: 4rem;
    display: inline-flex;
    padding: .3rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
    cursor: pointer;
}
.wrapper:hover{
    background: var(--first-color);
    opacity: 1;
}
.icon {
    padding-right: 2px;
    font-size: 1.25rem;
    color: var(--title-color);
}
@media screen and (min-width: 767px){
    .wrapper {
        top: 6rem;
    }
}
