.back {
    position: absolute;
    background: url("https://pristor.ru/wp-content/uploads/2019/05/%D0%9A%D0%BE%D1%81%D0%BC%D0%BE%D1%81-%D1%84%D0%BE%D1%82%D0%BE-%D0%BD%D0%B0-%D1%80%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9-%D1%81%D1%82%D0%BE%D0%BB-%D1%81%D0%BA%D0%B0%D1%87%D0%B0%D1%82%D1%8C-10.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 93%;
    width: 100%;
}
.movie {
    position: absolute;
}