.title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.links{
    display: grid;
    row-gap: .35rem;
}

.link{
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: .3s;
}

.link:hover{
    color: var(--title-color);
}
