.wrapper {
    position: relative;
    display: grid;
    width: 95%;
    margin-top: 50px;
    margin-left: 2.5%;
    box-shadow: 0px 0px 4px 0px black;
}
.infoContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
}
h4 {
    color: grey;
}