.banner {
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

.banner::after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100px;
     background-image: linear-gradient(to top, #0f0f0f, rgba(0 0 0 ));
 }

.movieContent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;
    color: white;
}
.movieContentPoster {
    flex: 1;
}
.movieContentPosterImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding-top: 165%;
}
.movieContentInfo {
    width: 70%;
    padding-left: 2rem;
    position: relative;
}
.title {
    color: white;
    font-size: 4rem;
    line-height: 1;
}
.genres > * ~ * {
    margin-left: 0.5rem;
}
.genresItem {
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #0f0f0f;
}
