.movieCard {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160% ;
    border-radius: 30px;
    margin-bottom: 1rem;
}
.movieCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    transition: opacity .3s ease;
    border-radius: 30px;
}
.movieCard:hover::before {
    opacity: 0.8;
}
.movieCard:hover Button {
    transform: translate(-50%, -50%) scale(1);
}
.movieCard Button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .3s ease, box-shadow .3s ease;
}
h3 {
    font-size: 15px;
    text-decoration: none;
    color: white;
}