.wrapper {
    display: grid;
    grid-gap: 2rem;
    background: linear-gradient(131deg, #63256b -26%, #286cb5 145%);
}
.wrapper div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 0 1rem;
}
.head {
    text-align: center;
    font-size: 30px;
    margin-top: 1rem;
}
