.back {
    position: absolute;
    background-image: url("https://images.alphacoders.com/484/thumb-1920-484766.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 93%;
    width: 100%;
}
.container {
    position:relative;
    margin: auto;
    padding-bottom: 2rem;
    background: black;
    width: 400px;
    border-radius: 40px;
    box-shadow: 0 0 4px 1px black;
}
h1 {
    text-align: center;
    margin-top: 15px;
    color: white;
}
.input1 {
    position: relative;
    top: 30px;
}
.input1 input{
    width: 90%;
    display: flex;
    margin: auto;
    padding: 5px 0 5px;
    position: relative;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 20px;
    outline: none;
}
.input1 label {
    color: white;
    margin-left: 1.5rem;

}
.btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 60px 60px 0 60px;
}
.btn button {
    padding: 10px 20px;
}