.discount {
    padding: 4.5rem 0 2rem;
}
.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    display: grid;
    background: var(--container-color);
    border-radius: 1rem;
    padding: 2.5rem 0 1.5rem;
    row-gap: .75rem;
}

.data{
    text-align: center;
}

.title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
}

.img{
    width: 200px;
    justify-self: center;
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-alt);
}
@media screen and (min-width: 767px){
    .container{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 3rem;
        padding: 3rem 0;
        border-radius: 3rem;
    }
    .img{
        width: 350px;
        order: -1;
    }
    .data{
        padding-right: 6rem;
    }
    .discount{
        padding: 7rem 0 2rem;
    }
}
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        column-gap: 7rem;
    }
}
