@import '~bootstrap/scss/bootstrap.scss';

.wrapper {
    .baseWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    td {
        text-align: center;
        cursor: pointer;
    }

    td:first-child {
        text-align: left;
    }

    th {
        text-align: center;
    }

    th:first-child {
        text-align: left;
    }

    }

    .height {
        display: table-cell;
        justify-content: center;
        align-items: center;
        color: green;
    }

    .low {
        display: table-cell;
        justify-content: center;
        align-items: center;
        color: red;
    }


@media (min-width: 1200px) {
    .wrapper {
        margin: 50px 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .wrapper {
        margin: 30px 120px;
    }
}

@media (min-width: 600px) and (max-width: 992px) {
    .wrapper {
        margin: 20px 60px;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .wrapper {
        font-size: 10px;
        margin: 0;

    span {
        font-size: 10px;
    }
}
}

@media (min-width: 350px) and (max-width: 480px) {
    .wrapper {
        font-size: 8px;
        margin: 0;

    span {
        font-size: 8px;
    }
}
}

@media (max-width: 350px) {
    .wrapper {
        font-size: 6px;

    span {
        font-size: 6px;
    }
}
}