.category {
    padding: 4.5rem 0 2rem;
}
.title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    text-align: center;
}
.container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    display: grid;
}

.data{
    text-align: center;
}

.img{
    width: 120px;
    margin-bottom: var(--mb-0-75);
    transition: .3s;
}

.categoryTitle{
    margin-bottom: var(--mb-0-25);
}

.data:hover .img{
    transform: translateY(-.5rem);
}
@media screen and (max-width: 320px){
    .container{
        grid-template-columns: .8fr;
        justify-content: center;
    }
}
@media screen and (min-width: 767px){
    .container{
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
    }
}
@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        column-gap: 8rem;
    }
    .title {
        font-size: var(--h1-font-size);
        margin-bottom: 3rem;
    }
    .img{
        width: 200px;
    }
}
