.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 3rem;
}
.loadmore {
    text-align: center;
    margin-bottom: 3rem;
}
button {
    cursor: pointer;
}

.btn {
    border: 4px solid transparent;
    background-color: #ff0000;
    color: #fff;
    border-radius: 30px;
    padding: 0.5rem 1.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0px 0px 7px 8px #ff00004d;
    transition: box-shadow .3s ease;
    position: relative;
}

.btn:hover {
    box-shadow: 0px 0px 7px 15px #ff00004d;;
}