.wrapper {
    display: flex;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-shadow: 5px 3px 10px 0px black;
    margin-bottom: 1rem;
    flex-direction: column;
}

.wrapper div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}
h3 {
    height: 30px;
}