.casts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 10px;
}

.castsItemImg{
     padding-top: 160px;
     background-size: cover;
     margin-bottom: 0.5rem;
 }

.castsItemName {
     font-size: 0.8rem;
 }
