.content{
    display: grid;
    row-gap: 1rem;
}

.group{
    display: grid;
    position: relative;
    padding-top: 2rem;
}

.img{
    height: 250px;
    justify-self: center;
}

.indicator{
    width: 8px;
    height: 8px;
    background-color: var(--title-color);
    border-radius: 50%;
    position: absolute;
    top: 7rem;
    right: 2rem;
}

.indicator::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 48px;
    background-color: var(--title-color);
    top: -3rem;
    right: 45%;
}

.detailsImg{
    position: absolute;
    right: .5rem;
}

.detailsTitle,
.detailsSubtitle{
    display: block;
    font-size: var(--small-font-size);
    text-align: right;
}

.subtitle{
    font-size: var(--h3-font-size);
    text-transform: uppercase;
    margin-bottom: var(--mb-1);
}

.title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-black);
    line-height: 109%;
    margin-bottom: var(--mb-1);
}

.description{
    margin-bottom: var(--mb-1);
}

.buttons{
    display: flex;
    justify-content: space-between;
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-alt);
}
.buttonLink{
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}
@media screen and (max-width: 320px) {
    .img {
        height: 200px;
    }

    .buttons {
        flex-direction: column;
        width: max-content;
        row-gap: 1rem;
    }
}
@media screen and (min-width: 767px) {
    .content {
        padding: 8rem 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    .img {
        height: 300px;
    }

    .swiper-pagination {
        margin-top: var(--mb-2);
    }
}
@media screen and (min-width: 992px) {
    .content{
        padding-top: 9rem;
        gap: 3rem;
    }
    .group{
        padding-top: 0;
    }
    .img{
        height: 400px;
        transform: translateY(-3rem);
    }
    .indicator{
        top: initial;
        right: initial;
        bottom: 15%;
        left: 45%;
    }
    .indicator::after{
        top: 0;
        height: 75px;
    }
    .detailsImg{
        bottom: 0;
        right: 58%;
    }
    .title{
        margin-bottom: var(--mb-1-5);
    }
    .description{
        margin-bottom: var(--mb-2-5);
        padding-right: 2rem;
    }
}
@media screen and (min-width: 1200px) {
    .img {
        height: 420px;
    }
}