.scroll{
    position: fixed;
    background: var(--container-color);
    right: 1rem;
    bottom: 3rem;
    display: inline-flex;
    padding: .3rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}
.scroll:hover{
    background: var(--container-color);
    opacity: 1;
}
.icon {
    font-size: 1.25rem;
    color: var(--title-color);
}