.img{
    width: 120px;
    margin-bottom: var(--mb-0-5);
    transition: .3s;
}

.content{
    position: relative;
    background: var(--container-color);
    width: 242px;
    padding: 2rem 0 1.5rem 0;
    border-radius: .75rem;
    text-align: center;
    overflow: hidden;
}

.tag{
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: var(--first-color);
    color: var(--title-color);
    font-size: var(--small-font-size);
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-5);
}

.prices{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.price{
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.discount{
    color: var(--first-color);
    font-size: var(--smaller-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-alt);
}
.button{
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
}

.icon{
    font-size: 1.25rem;
}

.content:hover .img{
    transform: translateY(-.5rem);
}

.content:hover .button{
    right: 0;
}
@media screen and (min-width: 992px) {
    .img{
        width: 150px;
    }
    .img,
    .subtitle{
        margin-bottom: var(--mb-1);
    }
    .title{
        font-size: var(--h3-font-size);
    }
}