.back {
    position: absolute;
    background-image: url("https://www.kinogallery.com/img/wallpaper/kinogallery-wallpaper-1920x1080-28235.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 93%;
    width: 100%;
}
.story {
    position: fixed;
    display: inline-block;
    height: 200px;
    width: 560px;
    border-radius: 20px;
    left: 10px;
    top: 150px;
    padding: 20px;
    /*background-color: black;*/
    opacity: 70%;
}
.story p {
    color: white;
    font-size: 20px;
}
.sidebar {
    width: 106px;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
}