.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background-color: white;
    transition: 0.5s;
}
@media (max-width: 991px) {
    .main {
        width: 100%;
        left: 0;
    }
    /*.main.active {*/
    /*    left: 300px;*/
    /*}*/
}