.home {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.home
:global(.swiper) {
    padding-bottom: 40px;
}
.home
:global(.swiper-pagination-bullet){
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
}
.home
:global(.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet){
  margin: 0 .5rem;
}
.home
:global(.swiper-pagination-bullet-active){
  width: 1.5rem;
  height: 5px;
  border-radius: .5rem;
}
@media screen and (max-width: 320px) {
    .home {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}
@media screen and (min-width: 767px) {
    .home
    :global(.swiper) {
        padding-bottom: 0;
    }
}
@media screen and (min-width: 992px){
    .home {
        margin: auto;
    }
    .home
    :global(.swiper) {
        padding-bottom: 100px;
    }
}
@media screen and (min-width: 1200px) {
    .home {
        margin: auto;
    }
    .home
    :global(.swiper) {
        padding-bottom: 130px;
    }
}