.header{
    width: 100%;
    background: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.logoImg{
    width: 1.25rem;
}

.link,
.logo,
.toggle,
.close{
    color: var(--title-color);
}

.toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .menu{
        position: fixed;
        width: 100%;
        background: var(--container-color);
        top: 0;
        left: 0;
        padding: 3.5rem 0;
        transition: .4s;
        z-index: var(--z-fixed);
        border-radius: 0 0 1.5rem 1.5rem;
    }
}

.img{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.close{
    font-size: 1.8rem;
    position: absolute;
    top: .5rem;
    right: .7rem;
    cursor: pointer;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.link{
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: .4s;
}

.link:hover{
    color: var(--text-color);
}
.activeLink{
    composes: link;
    position: relative;
}

.activeLink::before{
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}
.buttonGhost{
    border: 2px solid;
    background-color: transparent;
    border-radius: 3rem;
    padding: .75rem 1.5rem;
}

.buttonGhost:hover{
    background: none;
}
@media screen and (max-width: 320px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}
@media screen and (min-width: 767px) {
    .container {
        height: calc(var(--header-height) + 1.5rem);
    }

    .img,
    .close,
    .toggle {
        display: none;
    }

    .list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .link {
        text-transform: initial;
        font-weight: initial;
    }
}
@media screen and (min-width: 992px){
    .container {
        margin: auto;
    }
}
@media screen and (min-width: 1200px){
    .container{
        margin: auto;
    }
}